.c-vid-container figcaption {
  margin-top: 1.5em;
  text-align: center;
}

.c-vid {
  position: relative;
  display: grid;
  grid-template-rows: auto 6px 2.8125rem;
  margin-inline: auto;
  color: #fff;
  box-sizing: border-box;
  padding: 0.625rem;

  @media screen and (display-mode: fullscreen) {
    display: grid;
    height: 100vh;
    grid-template-rows: calc(100vh - 6px - 3rem) 6px 3rem;

    & > * {
      width: 100%;
    }
  }
}

.c-vid video {
  outline: none;
  height: 100%;
  width: 100%;
}

.c-vid-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem 0.2rem;
  height: 100%;
  background-color: var(--clr-complementary-900);
}

.c-vid-controls button {
  display: grid;
  place-items: center;
  // padding: 0.2em;
  height: 100%;
  width: auto;
  font-size: 1.5rem;
  color: #fff;
  border: 0.125rem solid transparent;
  background-color: transparent;
  border-radius: 3.2px;
  cursor: pointer;
  border-radius: 0.5em;
  aspect-ratio: 1;
}

.c-vid-controls button:focus {
  --outline-offset: -4px;
}

.c-vid-controls-text {
  margin: 0;
}

.c-vid-controls-text {
  width: 100%;
  font-variant-numeric: tabular-nums;
}

.video-wrapper {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
}

.video-wrapper > * {
  grid-area: stack;
}

.icon-container {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  width: 100%;
  height: 100%;
}

.video-icon {
  display: grid;
  place-items: center;
  visibility: hidden;
  aspect-ratio: 1;
  height: 30%;
  background-color: hsl(282 62 17 / 0.8);
  font-size: 3.75rem;
  border-radius: 50%;
  pointer-events: none;
}

.video-icon.active {
  visibility: visible;
  animation-name: iconPulse;
  animation-duration: 700ms;
}

@keyframes iconPulse {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

.video-icon svg {
  width: 60%;
  height: 60%;
}

.progress {
  --outline-color: var(--clr-primary-500);
  --outline-offset: 0;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 6px;
  transition: height 0.3s;
  background: rgba(20 20 20 / 0.3);
  cursor: pointer;
  position: relative;
  isolation: isolate;
}

.flex {
  display: flex;
  align-items: center;
}

.progress-bar {
  background-color: var(--clr-primary-300);
  transform-origin: left;
  width: 100%;
}

.progress-sphere {
  position: absolute;
  top: 50%;
  // left: calc((${getCurrentTime.seconds} / ${getDurationVideo.seconds}) * 100 * 1%);
  transform: translateY(-50%);
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--clr-primary-300);
  height: calc(100% + 3px);
}

.c-vid-controls-volume {
  display: grid;
  place-items: center;
  border-radius: 0.5rem;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.c-vid-controls-volume:focus-within {
  outline: max(2px, 0.08em) solid whitesmoke;
  outline-offset: max(2px, 0.08em);
}

.c-vid-controls-volume input {
  background-color: #fff;
}

.c-vid-controls-volume input:focus {
  outline: 2px solid transparent;
}

.c-vid-controls-volume-item[type="range"] {
  display: block;
  width: 5rem;
  accent-color: var(--clr-primary-300);
}

.c-vid video::cue {
  visibility: visible;
  color: white;
  background-color: #2f4f4f;
  font-family: "Source Sans Pro", sans-serif;
}

.c-vid video::cue(i) {
  font-style: italic;
  color: rgb(249, 205, 160);
}

.c-vid video.no-captions::cue {
  visibility: hidden;
}

.subtitles[aria-pressed="true"] {
  color: var(--clr-complementary-900);
  background-color: whitesmoke;
  border: 2px solid transparent;
}

.subtitles[disabled] {
  color: var(--clr-complementary-300);
  cursor: not-allowed;
}

.subtitles[aria-pressed="true"]:hover {
  background-color: rgb(255 255 255 / 30%);
  color: whitesmoke;
}
